* {
  font-family: "Roboto", sans-serif;
}

.category-list {
  margin-top: 2rem;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.button-link {
  position: absolute;
  bottom: 20px;
}

.price-label {
  position: absolute;
  bottom: 50px;
  font-weight: 600;
}
